.page-title {
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
        font-size: 25px;
}

.nav-username {
    font-family: 'Lato', sans-serif;

    display: inline-block;
    margin-left: 20px;
}